// variables

$website-width:1100px;
$main-color:#d4703e;
//$main-color:#ff0000;
$l-color:#f4f4f4;
$m-color:#ccc;
$d-color:#333;
$bg-image:url('../img/face2.jpeg');
$image-text:url('../img/lines.jpeg');


// function set text color

@function set-text-color($color) {
    @if (lightness($color)>50) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}