@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@import 'config';
@import 'tools';
@import 'item';
@import 'overlay';


// general core_styles 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background: #fff;
    height: 100%;
    width: 100%;
    transition: all 2s ease-in;
    //opacity: 0;
    //display: none;

}

a {
    text-decoration: none;
    color: $d-color;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase
}

img {
    width: 100%;
}

// header

#logo {
    font-size: 3.4rem;
    font-family: 'Courgette', cursive;

}



// nav 

#one-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;


    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: .5rem;
        transition: all .5s;

        &:hover {
            border-color: $main-color;
        }

        &.current {
            border-color: $m-color;
        }
    }


}

#header {


    &-main {
        background: $bg-image no-repeat center center / cover;
        height: 100vh;
        color: white;
        background-attachment: fixed;
        position: relative;




        .header-content {
            text-align: center;
            padding-top: 10%;

            .animated {
                font-size: 4rem;
                line-height: 1.3;
                padding: 0;
                margin: 0;
                background-image: $image-text no-repeat;
                background-clip: text;
                -webkit-background-clip: text;




            }


            .btn-light {
                margin-top: -10%;
                padding: .6rem 1rem;
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: bold;

            }


        }

    }

    &-inner {
        background: $bg-image no-repeat 20% 30% / cover;
        height: 5.5rem;
        border-bottom: 5px solid $main-color
    }
}


// home sections

#home {
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);

            .fas {
                color: $main-color;
                padding-bottom: .4rem;
            }
        }
    }

    &-b {
        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);



            li {
                line-height: 2;

                &.stats-title {
                    font-size: 1.2rem;

                }

                &.stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            div {
                padding: 2rem;

                &:nth-child(even) {
                    background-color: $m-color;
                }

                &:nth-child(odd) {
                    background-color: $l-color;
                }
            }


        }

    }

    &-c {
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
            text-align: center;

            &-step {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 20px;
                background-color: $main-color;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 1rem;
                transition: all 1s;

            }

            &-icone {
                border-radius: 50%;
                background-color: $d-color;
                color: #fff;
                position: relative;
                padding: 2rem;
                width: 70px;
                height: 70px;
                text-align: center;
                transition: all 1s;
                cursor: pointer;

                &:hover {
                    background-color: $main-color;
                    width: 80px;
                    height: 80px;

                    .process-step {
                        background-color: red;
                    }

                }
            }

        }
    }
}


#about {


    &-a {
        .about-info {
            display: grid;
            grid-template-areas:
                'bioimage bi bi'
                'aw1 aw2 aw3';
            grid-gap: 1rem;
        }

        .bio-image {
            grid-area: bioimage;

        }

        .bio {
            grid-area: bi;
            border-left: 3px solid $main-color;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


        }

        .award-1 {
            grid-area: aw1;

        }

        .award-2 {
            grid-area: aw2;
        }

        .award-3 {
            grid-area: aw3;
        }

        .award-1 .fas,
        .award-2 .fas,
        .award-3 .fas {
            color: $main-color;
            padding-top: 1rem;


        }

    }

    &-b {
        background: white;
        // .progress {
        //     overflow: hidden;
        //     height: 20px;
        //     background: $m-color;
        //     border-radius: 5px;
        //     margin-bottom: .3rem;

        //     div {
        //         height: 100%;
        //         text-align: center;
        //         background: $main-color
        //     }

        // }

        .section-title {

            color: black;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .tech {

            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background: white;




            img {
                width: 100%;


                height: 170px;
                width: 170px
            }

            .single-tech {
                margin: .5rem;
            }

        }
    }

    &-c {


        .about-logos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: .7rem;
            width: 100%;
            margin: auto;

            img {
                width: 40%;
                border-radius: 50%;
            }
        }
    }

    &-d {
        .testimonials {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: .7rem;

            ul {
                list-style: none;
                margin-top: 1rem;
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: .7rem;
                }
            }

            p {
                border: 1px solid $m-color;
                border-radius: 5px;
                padding: .5rem;
            }

        }
    }

}







@media (max-width:540px) {
    .test {
        font-size: 1rem;
    }

    .item-text-title {
        padding: 0 1rem !important;

    }
}




















// // contact page 

// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// * {
// 	box-sizing: border-box;
// }

// .wrapper {
// 	background: #f6f5f7;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: column;
// 	font-family: 'Montserrat', sans-serif;
// 	height: 100vh;
// 	margin: -20px 0 50px;
// }

// h1 {
// 	font-weight: bold;
// 	margin: 0;
// }

// h2 {
// 	text-align: center;
// }

// p {
// 	font-size: 14px;
// 	font-weight: 100;
// 	line-height: 20px;
// 	letter-spacing: 0.5px;
// 	margin: 20px 0 30px;
// }

// span {
// 	font-size: 12px;
// }

// a {
// 	color: #333;
// 	font-size: 14px;
// 	text-decoration: none;
// 	margin: 15px 0;
// }

// button {
// 	border-radius: 20px;
// 	border: 1px solid #FF4B2B;
// 	background-color: #FF4B2B;
// 	color: #FFFFFF;
// 	font-size: 12px;
// 	font-weight: bold;
// 	padding: 12px 45px;
// 	letter-spacing: 1px;
// 	text-transform: uppercase;
// 	transition: transform 80ms ease-in;
// }

// button:active {
// 	transform: scale(0.95);
// }

// button:focus {
// 	outline: none;
// }

// button.ghost {
// 	background-color: transparent;
// 	border-color: #FFFFFF;
// }

// form {
// 	background-color: #FFFFFF;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// 	padding: 0 50px;
// 	height: 100%;
// 	text-align: center;
// }

// input {
// 	background-color: #eee;
// 	border: none;
// 	padding: 12px 15px;
// 	margin: 8px 0;
// 	width: 100%;
// }

// .containere {
// 	background-color: #fff;
// 	border-radius: 10px;
//   	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
// 			0 10px 10px rgba(0,0,0,0.22);
// 	position: relative;
// 	overflow: hidden;
// 	width: 768px;
// 	max-width: 100%;
// 	min-height: 480px;
// }

// .form-container {
// 	position: absolute;
// 	top: 0;
// 	height: 100%;
// 	transition: all 0.6s ease-in-out;
// }

// .sign-in-container {
// 	left: 0;
// 	width: 50%;
// 	z-index: 2;
// }

// .containere.right-panel-active .sign-in-container {
// 	transform: translateX(100%);
// }

// .sign-up-container {
// 	left: 0;
// 	width: 50%;
// 	opacity: 0;
// 	z-index: 1;
// }

// .containere.right-panel-active .sign-up-container {
// 	transform: translateX(100%);
// 	opacity: 1;
// 	z-index: 5;
// 	animation: show 0.6s;
// }

// @keyframes show {
// 	0%, 49.99% {
// 		opacity: 0;
// 		z-index: 1;
// 	}

// 	50%, 100% {
// 		opacity: 1;
// 		z-index: 5;
// 	}
// }

// .overlay-container {
// 	position: absolute;
// 	top: 0;
// 	left: 50%;
// 	width: 50%;
// 	height: 100%;
// 	overflow: hidden;
// 	transition: transform 0.6s ease-in-out;
// 	z-index: 100;
// }

// .containere.right-panel-active .overlay-container{
// 	transform: translateX(-100%);
// }

// .overlay {
// 	background: #FF416C;
// 	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
// 	background: linear-gradient(to right, #FF4B2B, #FF416C);
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	background-position: 0 0;
// 	color: #FFFFFF;
// 	position: relative;
// 	left: -100%;
// 	height: 100%;
// 	width: 200%;
//   	transform: translateX(0);
// 	transition: transform 0.6s ease-in-out;
// }

// .containere.right-panel-active .overlay {
//   	transform: translateX(50%);
// }

// .overlay-panel {
// 	position: absolute;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// 	padding: 0 40px;
// 	text-align: center;
// 	top: 0;
// 	height: 100%;
// 	width: 50%;
// 	transform: translateX(0);
// 	transition: transform 0.6s ease-in-out;
// }

// .overlay-left {
// 	transform: translateX(-20%);
// }

// .containere.right-panel-active .overlay-left {
// 	transform: translateX(0);
// }

// .overlay-right {
// 	right: 0;
// 	transform: translateX(0);
// }

// .containere.right-panel-active .overlay-right {
// 	transform: translateX(20%);
// }

// .social-container {
// 	margin: 20px 0;
// }

// .social-container a {
// 	border: 1px solid #DDDDDD;
// 	border-radius: 50%;
// 	display: inline-flex;
// 	justify-content: center;
// 	align-items: center;
// 	margin: 0 5px;
// 	height: 40px;
// 	width: 40px;
// }

// footer {
//     background-color: #222;
//     color: #fff;
//     font-size: 14px;
//     bottom: 0;
//     position: fixed;
//     left: 0;
//     right: 0;
//     text-align: center;
//     z-index: 999;
// }

// footer p {
//     margin: 10px 0;
// }

// footer i {
//     color: red;
// }

// footer a {
//     color: #3c97bf;
//     text-decoration: none;
// }
































































// .containere{

//    background: #fff;
//    box-shadow: 3px 3px 5px 6px #ccc;
//    position: relative;

//    form {
//        background: #fff;
//        display: flex;
//        flex-direction: column;
//        padding: 0 50px;
//        height: 100%;
//        justify-content: center;
//        align-items: center;
//        text-align: center;

//         input{
//             background: #eee;
//             border:none;
//             padding: 11px 11px;
//             width: 100%;
//             margin: 7px 0px;
//         }
//    }
//    .social-container{
//       margin: 20x 0;
//       display: flex;
//       justify-content: space-between;
//       a{
//           border-radius: 50%;
//          margin: 0 .6rem;
//           height: 30px;
//           width: 30px;
//           background: rgb(247, 242, 242)
//       }
//    }


//     h1{
//         font-weight: bold;
//         margin: 0
//     }
//     p{
//         font-size: 14px;
//         font-weight: 100;
//         line-height: 30px;
//         letter-spacing: .5px;
//         margin: 10px 0 30px;
//     }

//     span{
//         font-size: 12px
//     }
//     a{
//         color:#333;
//         font-size: 14px;
//         text-decoration: none;
//         margin: 15px 0;
//     }

//     button{
//         border-radius: 20px;
//         border:1px solid #ff4b2b;
//         background: #ff4b2b;
//         color:#fff;
//         font-size: 12px;
//         font-weight: bold;
//         margin: 5px 2px;
//         padding: 12px 25px;
//         letter-spacing: 1px;
//         text-transform: uppercase;
//         transition: all 1s ease-in;
//         outline: none;
//         cursor: pointer;

//         &:active{
//             transform: scale(2)
//         }

//         &.ghost{
//             background: transparent;
//             border-color: #fff;
//         }
//     }

//     .form-container{
//         position: absolute;
//         top:0;
//         height: 100%;
//         transition: all 1s ease-in-out;

//         &.sign-in-container{
//             left: 0;
//             width: 50%;
//             z-index: 2;

//         }

//         &.sign-up-container{
//             left: 0;
//             width: 50%;
//             z-index: 1;

//         }
//     }

//     .overlay-container{
//         position: absolute;
//         top:0;
//         left: 50%;
//     }
// }

#contact {

    &-a {


        .btn-dark {
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: .2rem;
        }

        .text-fields {
            display: grid;
            grid-template-areas:
                'name email'
                'subject phone'
                'message message';
            grid-gap: 1.2rem;
            margin-bottom: 2rem;

            // grid areas
            .name-input {
                grid-area: name;
            }

            .phone-input {
                grid-area: phone;
            }

            .email-input {
                grid-area: email;
            }

            .subject-input {
                grid-area: subject
            }

            .message-input {
                grid-area: message;
                height: 150px;
            }

            .text-input {
                padding: .7rem;
            }

        }

        button[type='submit'] {
            width: 50%;
        }
    }

    &-b {
        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;

            div {
                margin: 1rem;
                padding: 1rem;
                box-shadow: 10px 5px 5px gray;
                font-weight: bold;
                transition: all 1s ease;
                cursor: pointer;

                &:hover {
                    box-shadow: none;
                    font-weight: normal;
                }

            }

        }




    }


}











#main-footer {
    background: $d-color;
    color: #fff;
    padding: 0 2rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social {

            .fab {
                margin-right: 1rem;
                line-height: 20px;
                text-align: center;
                transition: all 1s;
                cursor: pointer;
                border: 1px solid #fff;
                padding: .4rem;
                border-radius: 50%;
                font-size: 1rem;

                color: white;

                &:hover {
                    background: $main-color
                }
            }
        }

    }


}

@media (max-width:800px) {
    .footer-content {
        text-align: center;
        margin: auto;
    }

}

@media (max-width:412px) {
    .footer-content {
        .social {
            display: none;
        }
    }

}

@import 'mquery';

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');



#main {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #333;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: yellow;
    font-size: 6rem;
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    letter-spacing: 9px;
    transition: all 2s ease-in-out;
    opacity: 1;
}



#main::after {
    content: '\2026';
    overflow: hidden;
    animation: dots 3s infinite;
    width: 0px;
}

@keyframes dots {
    to {
        width: 6.5rem;
    }
}